<!DOCTYPE html>
<html lang="en" th:replace="~{layout::layout(
    subTitle=~{::title/text()},
    layoutTitle=~{::#layout-title/text()},
    layoutDesc=~{::#layout-desc/text()},
    mainContent=~{::#main-content},
    otherStaticResources=null
)}">

<head>
    <title>Đăng xuất</title>
</head>

<body>

    <h1 id="layout-title">Đổi mật khẩu</h1>
    <p id="layout-desc">Mỗi người nên sử dụng riêng tài khoản, tài khoản nhiều người dùng có thể sẽ bị mất an toàn thông
        tin</p>


    <div class="max-w-md" id="main-content">
        <div th:if="${error}" class="p-5 bg-red-300 text-white" th:text="${error}">
        </div>
        <form th:unless="${error}" class="mt-8  grid grid-cols-1 gap-6" method="POST" th:action="@{/change-password}" th:object="${data}">

            <input th:replace="~{fragment::input(
                label='Mật khẩu cũ',
                type='password',
                placeholder='*****',
                name='oldPassword',
                defaultValue=*{oldPassword},
                error=${#fields.errors('oldPassword')}
                )
            }" />

            <input th:replace="~{fragment::input(
                label='Mật khẩu Mới',
                type='password',
                placeholder='*****',
                name='password',
                defaultValue=*{password},
                error=${#fields.errors('password')}
                )
            }" />

            <input th:replace="~{fragment::input(
                label='Nhập lại Mật khẩu Mới',
                type='password',
                placeholder='*****',
                name='confirmPassword',
                defaultValue=*{confirmPassword},
                error=${#fields.errors('confirmPassword')}
                )
            }" />

            <button class="bg-green-400 p-3 text-white hover:bg-green-300 text-lg">
                Đổi mật khẩu
            </button>
        </form>
    </div>


</body>

</html>