<!DOCTYPE html>
<html lang="en" th:replace="~{layout::layout(
    subTitle=~{::title/text()},
    layoutTitle=~{::#layout-title/text()},
    layoutDesc=~{::#layout-desc/text()},
    mainContent=~{::#main-content},
    otherStaticResources=null
)}">

<head>
    <title>Quên mật khẩu</title>
</head>

<body>

    <h1 id="layout-title">Quên mật khẩu</h1>
    <p id="layout-desc">Hãy điền thông tin email đăng kí tài khoản vào đây</p>

    <div class="max-w-md" id="main-content">

        <div class="p-5 bg-green-300 text-green-600 font-semibold text-xl" th:if="${email != null && !email.isEmpty()}">
            <h1>Thành công
            </h1>
            <p>Chúng tôi sẽ gửi Email xác thực về email <span class="underline" th:text="${email}"></span>
                <br>Có thể sẽ mất vài phút để nhận được Email
            </p>

        </div>

        <form class="mt-8  grid grid-cols-1 gap-6" method="POST" th:action="@{/forgot-password}" th:object="${req}">
            <input th:replace="~{fragment::input(
                label='Email',
                type='email',
                placeholder='email@gmail.com',
                name='email',
                defaultValue=*{email},
                error=${#fields.errors('email')}
                )
            }" />

            <button class="bg-green-400 p-3 text-white hover:bg-green-300 text-lg">
                Gửi email khôi phục mật khẩu
            </button>
        </form>
    </div>


</body>

</html>