<!DOCTYPE html>
<html lang="en" th:replace="~{layout::layout(
    subTitle=~{::title/text()},
    layoutTitle=~{::#layout-title/text()},
    layoutDesc=~{::#layout-desc/text()},
    mainContent=~{::#main-content},
    otherStaticResources=null
)}">

<head>
    <title>Khôi phục mật khẩu</title>
</head>

<body>

    <h1 id="layout-title">Khôi phục mật khẩu</h1>
    <p id="layout-desc">Yêu cầu khôi phục mật khẩu có hiệu lực trong 5 Phút</p>


    <div class="max-w-md" id="main-content">

        <div class="p-5 bg-red-300 text-red-600 text-lg" th:if="${result == 400}">
            Yêu cầu không hợp lệ
        </div>
        <div class="p-5 bg-red-300 text-red-600 text-lg" th:if="${#fields.hasErrors('data.token')}">
            Yêu cầu Khôi phục mật khẩu đã hết hạn hoặc đường dẫn không hợp lệ
        </div>


        <form th:if="${!#fields.hasErrors('data.token')} and ${result != 400}" class="mt-8  grid grid-cols-1 gap-6" method="POST"
            th:action="@{/reset-password}" th:object="${data}">

            <input type="hidden" name="token" th:value="*{token}">

            <input th:replace="~{fragment::input(
                label='Mật khẩu',
                type='password',
                placeholder='buiduong',
                name='password',
                defaultValue=*{password},
                error=${#fields.errors('password')}
                )
            }" />

            <input th:replace="~{fragment::input(
                label='Nhập lại Mật khẩu',
                type='password',
                placeholder='buiduong',
                name='confirmPassword',
                defaultValue=*{confirmPassword},
                error=${#fields.errors('confirmPassword')}
                )
            }" />

            <button class="bg-green-400 p-3 text-white hover:bg-green-300 text-lg">
                Khôi phục mật khẩu
            </button>
        </form>
        <script>

            const currentUrl = window.location.href;
            const newUrl = window.location.origin + window.location.pathname;
            history.replaceState(null, '', newUrl);

        </script>
    </div>



</body>

</html>