<!DOCTYPE html>
<html lang="en" th:replace="~{email/layout::layout(
    title=~{::#title/text()},
    preview=~{::#preview/text()}, 
    topContents=~{::#top-content}, 
    actionUrl=${email.tokenUrl},   
    actionText=~{::#action-text/text()},
    bottomContents=~{::#bottom-content},
)}">

<head>
    <title>Lắc đầu - Logout</title>
</head>

<body>

    <h1 id="title">Khôi phục mật khẩu</h1>
    <p id="preview">Chúng tôi nhận thấy có yêu cầu đặt lại mật khẩu từ tài khoản của bạn.</p>


    <div id="top-content">
        <p> Chào
            <b th:text="${email.displayName}">
                Tên người dùng
            </b>
        </p>

        <p>
            Chúng tôi nhận thấy có yêu cầu đặt lại mật khẩu từ tài
            khoản của bạn. Nếu đó là bạn, hãy nhấn vào liên kết sau
            để đặt lại mật khẩu:
        </p>

        <p>Tài khoản của bạn : <b th:text="${email.username}"></b></p>
    </div>
    <a id="action-text">Bấm vào đây để đặt lại mật khẩu</a>

    <div id="bottom-content">
        <p>
            Lưu ý:
        </p>

        <ul
            style="list-style: disc; margin: 0px 0px 1rem; padding: 0px 0px 0px 2rem; font-size: 0.875rem; line-height: 1.25rem; font-weight: 400;">
            <li>Không chia sẻ liên kết này với bất kỳ ai.</li>
            <li>
                Nếu bạn không yêu cầu đặt lại mật khẩu, hãy liên hệ
                với chúng tôi ngay tại Lắc đầu.
            </li>
        </ul>

        <p>
            Liên kết này sẽ hết hạn trong
            <b th:text="|${email.expirateMin} Phút|"></b>
            . Hãy cập nhật mật khẩu mới để bảo vệ tài khoản của bạn.
        </p>

        <p>Trân Trọng !</p>
    </div>

</body>

</html>