.form {
    font-size: 1.4rem;

    .form-label {
        line-height: 21px;

        &.label-required {
            &::after {
                content: "*";
            }
        }
    }

    .form-message {

        line-height: 1.5;

        &.error {
            color: #E94E1B;
        }
    }


    .form-input {
        width: 100%;
        padding: 12px 6px;
        border: 1px solid #ced4da;
        border-radius: 4px;
    }

    .form-select {
        padding: 12px 6px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        width: 100%;
    }

    .form-radio-group {
        display: flex;
        gap: 20px;

        .form-radio-label {
            display: flex;
            align-items: center;
            gap: 5px;

            .form-radio {
                width: 15px;
                height: 15px;
            }
        }
    }

    .form-action {
        display: flex;
        align-items: center;
        gap: 20px;

        .form-btn {
            border-radius: 4px;
            padding: 6px;
            color: white;
            background-color: #29a07e;
            font-size: 1.6rem;
            cursor: pointer;

            &:hover {
                background-color: #0069d9;
            }

            &.danger {
                background-color: #E94E1B;
            }
        }


        .form-link {
            margin-left: 5px;
            font-size: 1.4rem;
            color: #007bff;
        }
    }
}