@use "../components/form";

.section-account {
    padding-block: 20px;
    background-color: white;
    font-size: 1.4rem;
    color: #333;


    .side-bar {

        .side-bar-group {
            line-height: 2.4;

            .side-bar-group__title {
                font-weight: 700;


            }

            .side-bar-item {
                margin-bottom: 10px;

                .side-bar__btn {
                    font-size: 1.6rem;
                    background: #6c757d;
                    color: #fff;
                    display: block;
                    gap: 10px;
                    line-height: inherit;
                    border-radius: 4px;
                    width: 100%;
                    cursor: pointer;
                    text-align: center;
                    position: relative;

                    svg {
                        position: absolute;
                        right: 5%;

                        top: 50%;
                        translate: 0 -50%;

                    }


                    &.current {
                        background: #29A07E;
                    }

                    &.btn--logout {
                        display: inline-block;
                        width: auto;
                        padding-inline: 12px;
                        background: #f23c3cde;
                    }
                }
            }
        }
    }

    .section-view {
        .view-title {
            margin-bottom: 8px;
            font-size: 2.2rem;
            line-height: 1.2;
        }

        .view-description {
            margin-bottom: 10px;
            font-size: 1.5rem;

        }

        .form {
            .form-input {
                padding-block: 8px;
            }

            .form-select {
                padding-block: 8px;
            }

            .form-action {
                .form-btn {
                    height: 38px;
                    min-width: 200px;
                }
            }
        }

        &.view--order {
            .order-table__wrapper {
                border: 0.5px solid #d7d8da;
                border-radius: 5px;
                overflow: hidden;
            }

            .order-table {
                width: 100%;
                font-size: 1.5rem;
                box-sizing: border-box;
            }

            .order-table__header {
                background-color: #d3d3d5;
                border: 1px solid #a3a4a6;
                font-weight: bold;
            }

            .order-table__row {
                border: 1px solid #a3a4a6;
            }

            .order-table__cell {
                padding: 10px 5px;
                text-align: center;
            }


            .order-table__total-price {
                font-weight: 700;
            }


            .order-table__action:not(th) {
                text-decoration: underline;
                color: #28a745;
                cursor: pointer;
            }

            .product-pagination {
                display: flex;
                justify-content: center;
                padding-block: 16px 27px;
                gap: 12px;
                font-size: 1.4rem;

                .btn-pagination {
                    border-radius: 50%;
                    font-weight: 300;
                    color: #333;
                    background: #f4f4f4;
                    width: 38px;
                    height: 38px;
                    line-height: 38px;
                    cursor: pointer;

                    &:hover,
                    &.active {
                        background: #29a07e;
                        color: white;
                        font-weight: 600;
                    }
                }
            }

        }

        hr {
            width: 50%;
            margin-inline: auto;
            margin-block: 10px 10px;
        }

    }
}

.badge {
    font-size: 1.2rem;
    font-weight: bold;

    padding: 2px 5px;
    display: inline-block;
    border-radius: 3px;

    &.badge-primary {
        background-color: #007bff;
        color: white;
    }

    &.badge-secondary {
        background-color: #6c757d;
        color: white;
    }

    &.badge-success {
        background-color: #28a745;
        color: white;
    }

    &.badge-danger {
        background-color: #dc3545;
        color: white;
    }

    &.badge-warning {
        background-color: #ffc107;
        color: black;
    }

    &.badge-info {
        background-color: #17a2b8;
        color: white;
    }

    &.badge-light {
        background-color: #f8f9fa;
        color: black;
    }

    &.badge-dark {
        background-color: #343a40;
        color: white;
    }
}